html {
  background-color: cyan;
}
#container {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
}
#one {
  height: 10vh;
  width: 100vw;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#two {
  height: 10vh;
  width: 100vw;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
}
#two a {
  margin-left: 20px;
}
#three {
  height: 30vh;
  width: 100vw;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#three img {
  height: 180px;
  width: 180px;
  border-radius: 50%;
}
#four {
  height: 20vh;
  width: 100vw;
  border: 2px solid black;
}
table,
th,
td {
  border: 1px solid black;
}
